.DS_Store
.ipynb_checkpoints
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz

_pycache_/
*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints/
*.ipynb_checkpoints/

metody_analizy_naturalnego/


*.pdf